@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes changeFontWeight {
    from {
        font-weight: lighter;
    }
    to {
        font-weight: bold;
    }
};

@layer components {

    .title {
        @apply font-cormorant text-[40px] font-normal;
    }
    .review {
        @apply text-[16px] italic font-light pb-[10px];
    }
    .cite {
        @apply text-[20px] font-semibold;
    }
    .blog__item {
        @apply flex  flex-col sm:flex-row gap-[10px]  sm:gap-5  mb-[30px] ;
    }
    .blog__item-content {
        @apply flex flex-col basis-1/2;
    }
    .blog__item-title {
        @apply text-2xl font-cormorant font-normal mb-[5px] sm:mb-[10px];
    }
    .blog__item-author {
        @apply text-sm font-light;
    }
    .blog__item-link {
        @apply relative text-[13px] font-light mt-auto;
    }

    .blog__item-link::after {
        content: "";
        background-image: url(/images/arrow.svg);
        position: absolute;
        bottom: 3px;
        margin-left: 8px;
        width: 5px;
        height: 10px;
        transition: transform 0.3s ease;
    }
    .blog__item-link:hover::after {
        transform: translateX(5px); 
    }
    .prioritise__item {
        @apply flex flex-col;
    }
    .prioritise__title {
        @apply text-[30px] font-light mb-[10px];
    }
    .prioritise__text {
        @apply text-xl font-bold mb-[39px] ;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap')